@keyframes CloseFolder {
    0%   { height: 100%; }
    100% { height: 0px; }
}

.directory{
    transition: height 2s;
}

.directoryName::before{
    content: '↓ ';
}
.directoryName.Uparrow::before{
    content: '↑ ';
}

.Closed {
    height: 0px;
    overflow: hidden; /* İçerik taşmasını önlemek için */
}
